In [2]:
import requests

import pandas as pd

import time

## Question/Problem Statement

Can a model be developed that will automatically classify loose reddit posts to the correct subreddit by analyzing the textual makeup of its title and description?

Model success will be evaluated using acccuracy score.

## Initial DataFrames

In [ ]:
#For microgrowery
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit' : 'microgrowery',
    'size' : 100
}

In [ ]:
res = requests.get(url, params)

In [ ]:
res.status_code

In [ ]:
data = res.json()

In [ ]:
data_microgrowery = pd.DataFrame(data['data'])

In [ ]:
#For sandwiches
url = 'https://api.pushshift.io/reddit/search/submission'
params = {
    'subreddit' : 'sandwiches',
    'size' : 100
}

In [ ]:
res = requests.get(url, params)

In [ ]:
res.status_code

In [ ]:
data = res.json()

In [ ]:
data_sandwiches = pd.DataFrame(data['data'])

-----------------------------------------------------------------------------------------------------------------

In [197]:
data_microgrowery.head()

,level_0,all_awardings,allow_live_comments,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,author_patreon_flair,...,secure_media_embed,removed_by_category,author_flair_background_color,author_flair_text_color,author_flair_template_id,author_cakeday,edited,poll_data,banned_by,distinguished
0,0,[],False,ChillyFarm42,None,[],None,text,t2_6n1akicd,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,[],False,burittoman,None,[],None,text,t2_a13nsqj6,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,[],False,SnooLobsters6695,None,[],None,text,t2_7sh0se1w,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,[],False,UkFirstTimer94,None,[],None,text,t2_87yp7gwm,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,[],False,horseygrow,None,[],None,text,t2_75kcd79l,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [198]:
data_sandwiches.head()

,level_0,all_awardings,allow_live_comments,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,author_patreon_flair,...,og_title,gilded,rte_mode,author_id,brand_safe,suggested_sort,approved_at_utc,banned_at_utc,view_count,author_created_utc
0,0,[],False,IntlMan902102020,None,[],None,text,t2_521yfhp7,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,[],False,Boknowsnada,None,[],None,text,t2_17xvgq7f,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,[],False,jayatisinghal,None,[],None,text,t2_1x82nxie,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,[],False,geodog242,None,[],None,text,t2_4jx9sk3g,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,[],False,Simp4skin,None,[],None,text,t2_a124xnfu,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Increasing Data Size

In [199]:
#For microgrowery

while len(data_microgrowery) < 10_000:
    before = data_microgrowery['created_utc'].iloc[-1]
    url = 'https://api.pushshift.io/reddit/search/submission'
    params = {
        'subreddit' : 'microgrowery',
        'size' : 100,
        'before' : before
    }
    res = requests.get(url, params)
    data = res.json()
    data_microgrowery = data_microgrowery.append(pd.DataFrame(data['data']))
    time.sleep(5)
    print(before)
    print(len(data_microgrowery))

In [200]:
#The api wasnt able to get me 10,000 rows for this sub so I'm only going ot take 5,000
#For sandwiches

while len(data_sandwiches) < 5_000:
    before = data_sandwiches['created_utc'].iloc[-1]
    url = 'https://api.pushshift.io/reddit/search/submission'
    params = {
        'subreddit' : 'sandwiches',
        'size' : 100,
        'before' : before
    }
    res = requests.get(url, params)
    data = res.json()
    data_sandwiches = data_sandwiches.append(pd.DataFrame(data['data']))
    time.sleep(10)
    print(len(data_sandwiches))
    print(before)

---

## Resetting the indeces

In [ ]:
data_microgrowery.reset_index(inplace = True)

In [ ]:
data_sandwiches.reset_index(inplace = True)

___

## Saving the dataframes

In [203]:
data_microgrowery.to_csv('data/microgrowery.csv', index = False)

In [204]:
data_sandwiches.to_csv('data/sandwiches.csv', index = False)